@import "tailwindcss";
@theme {
  --breakpoint-xxs: 25rem;
  --breakpoint-xs: 30rem;
  --main: #f2f2ee;
}

.speech-bubble {
  @apply absolute -translate-1/2 text-center whitespace-nowrap text-sm xxs:text-base xs:text-xl;
}
